@using KlamthIrrigationDistrict.DataLayer.DataModels
@model DitchRider
@using (Html.BeginForm())
{
    <table>
        <tr>
            <th>Ditch RiderID:</th>
            <th>Ditch Rider Name:</th>
            <th>Ditch Rider Phone Number:</th>
        </tr>
        @foreach(var rider in Model)
        {
            <tr>
                <td>@rider.RiderID</td>
                <td>@rider.RiderFirstName @rider.RiderLastname</td>
                <td>@rider.RiderPhoneNumber</td>
            </tr>
        }
    </table>
}