h1{
    text-align: center;
    border: 10px solid blue;
    background-image: url(http://thumbs.dreamstime.com/x/vector-wet-aqua-blue-background-14962232.jpg);
    padding: 5px;
}
.List {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: auto;
    background-color: lightblue;
    width: inherit;
}
/*DropDown for Customers*/
.dropdown {
    border-right: 3px solid black;
    float: left;
}
.dropdown a, dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdow a:hover:not(.active), .dropdown:hover.dropbtn{
    background-color: lightgreen;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: initial;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover{
    background-color: lightgreen;
}
.dropdown:hover .dropdown-content{
    display: block;
}
/*Drop Down For Ditch Riders*/
.dropdown2 {
    border-right: 3px solid black;
    float: left;
}
.dropdown2 a, dropbtn2 {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown-content2{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: initial;
    z-index: 1;
}
.dropdown-content2 a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content2 a:hover{
    background-color: lightgreen;
}
.dropdown2:hover .dropdown-content2{
    display: block;
}
/*Search Box*/
input[type=text]{
    width: 130px;
    box-sizing: border-box;
    border: 5px solid lightgreen;
    padding: .5px;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus{
    width: 50%;
}
button{
    width: auto;
    box-sizing: border-box;
    border: 5px solid lightgreen;
    padding: .5px;

}
/*CustomerRequest */
table{
    float: left;
    text-align: justify;
    width: inherit;
    border: 5px solid;
    padding-left: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-wrap: unset;
}
tr{
    padding: 10px;
    border: 5px solid green;
}
th{
    border:1px;
    border-bottom: .5px solid blue;
    border-left: .5px solid blue;
}
thead{
    color: darkblue;
}
tbody{
    border: solid;
    border-color: pink;
    color: black;
}
td{
    text-align: center;
    border-bottom: .5px solid blue;
}
label{
    width: 100%;
    display: inline-block;
}
/*footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    border: 10px solid;
    padding: 5px;
    margin: 5px;
    
}