<!DOCTYPE html>
<html>
<head>
    <title>KID</title>
    <link rel="stylesheet" href="~/Styles/Styles.css" />
    @RenderSection("PageHead", false)
</head>
<body>
    <div id="Menu">
        <header><h1>Klamath Irrigation District: Water Usage Tracking System</h1></header>
        <ul class="List">
            <li class="dropdown">
                <a href="#Customers" class="dropbtn">Customers</a>
                <div class="dropdown-content">
                    <a href="/CustomerHistory/HistoryList"> Customer History</a>
                    <a href= "/CustomerRequest/Index">Customer Request</a>
                    </div>
            </li>
            <li class="dropdown2">
                <a href="#DitchRiders" class="dropbtn2">Ditch Rider</a>
                <div class="dropdown-content2">
                    <a href="/DitchRider/EditRequest">Edit Request</a>
                </div>
            </li>
            <li class="SearchBox">
                <input type="text" name="Search" placeholder="Search For Customer or Ditch Rider" />
                <button>Search</button>
            </li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
<footer>
    <img src="~/Images/KID.png"/>
</footer>