@{
    ViewBag.Title = "KID";
}
<body>
    <p>This is the Klamath Irrigation District Water Usage Tracking System. Home page, where you can View Customer History, edit a Cusomer History Request or Edit a Customer Request as a Ditch Rider. </p>
</body>