@using KlamthIrrigationDistrict.DataLayer.DataModels
@model List<CustomerHistory>

<table>
    <tr>
        <th>CustomerID:</th>
        <th>Date:</th>
        <th>WaterUsage:</th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Date</td>
            <td>@customer.WaterUsage</td>
        </tr>
    }
</table>